
<style>

.container {
    position: center;
    width: 50%;
    border-style: solid
}
h2 {
    font-family: "Times New Roman", Times, serif;
}

#inputName {
    width: 300%;
}

.thead-dark{
    width: 100%;
    border-style: solid;
}
.table-head {
    border-style: solid;
}

h5 {
    color: rgb(78, 9, 240)
}
.take-data{
  border-style: black solid;
  border-bottom: black;
}

.drop-down{
  size: x-large;
}


</style>

<div class="container">
<!--<table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
        <th scope="col">Base Fare</th>
        <th scope="col">Taxes & Fee</th>
        <th scope="col">Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{lstflights.flightnumber}}</td>
          <td>{{lstflights.baseFare}}</td>
          <td>{{lstflights.tax}}</td>
          <td>{{lstflights.totalAmount}}</td>
      </tr>
    </tbody>
  </table>-->

 <!--<table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Flight Number</th>
      <th>Departure City</th>
      <th>Departure Date</th>
      <th>Arrival City</th>
      <th>Total Fare</th>
    </tr>
   </thead>
   <tbody class="table-head">
    <tr>
      <td>{{cact.flightnumber}}</td>
      <td>{{cact.departurecity}}</td>
      <td>{{cact.departuredate | date}}</td>
      <td>{{cact.arrivalcity}}</td>
      <td>{{cact.totalAmount}}</td>
    </tr>
</tbody>
  </table>
  <br>
  <h5> Fare Summary </h5>
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
		 </tr>
    </thead>
		<tbody>
      <tr>
          <td>{{cact.flightnumber}}</td>
		   </tr>
    </tbody>
  </table>
  
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">Base Fare</th>
		 </tr>
    </thead>
		<tbody>
      <tr>
          <td>{{cact.baseFare}}</td>
		   </tr>
    </tbody>
  </table>
  
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">Taxes & Fee</th>
		 </tr>
    </thead>
		<tbody>
      <tr>
          <td>{{cact.tax}}</td>
		   </tr>
    </tbody>
  </table>
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">Total Amount</th>
         </tr>
         
    </thead>
		<tbody>
      <tr>
          <td>{{cact.totalAmount}}</td>
		   </tr>
    </tbody>
  </table>
</div>
<br>
<br> -->
<!--<div class="container">
  <form #userloginform="ngForm" (ngSubmit)="addUser(userloginform.value)">
    <h5>Traveller Details</h5>
    <h4>{{cact.flightnumber}}</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-label"> <strong>Email</strong> </label>
        <input type="email" class="form-control" placeholder="Email" name="userEmail" ngModel required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputMobile"> <strong>Mobile</strong></label>
        <input type="tel" class="form-control" placeholder="Contact Number" name="userMobile" ngModel>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress"> <strong>Address</strong></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="userAddress" ngModel>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control" name="userTitle" ngModel>
            <option selected>Title</option>
            <option value="Mr.">Mr</option>
            <option value="Mrs.">Mrs</option>
            <option value="Miss.">Miss</option>
          </select>
          <label for="inputAddress"> <strong>Name</strong></label>
          <input type="text" class="form-control" id="inputName" placeholder="Name" name="userName" ngModel>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
  </form>
  <br>
</div>-->




<form #loginform="ngForm" (ngSubmit)="confirmbook(loginform.value)">
  <div class="card mt-5" style="margin:auto;width: 600px;">
      <div class="card-body">
          <h3 class="card-title" style="float:initial">BOOKING CONFIRMATION PAGE</h3>
     <!--          <div class="form-group">
            <label for="fullname">Name</label>
            <input type="text" class="form-control" id="fullname" placeholder="Full Name" name="fullname" ngModel>
          </div>
          <div class="form-group"> 
            <label for="emailid">Email Address</label>
            <input type="text" class="form-control" id="emailid" placeholder="eg. abc@xyz.com" name="emailid" ngModel>
          </div>
          <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <input type="text" class="form-control" id="phonenumber" placeholder="eg. Phone Number" name="phonenumber" ngModel>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Current City" name="city" ngModel>
          </div>
          <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" placeholder="Current State" name="state" ngModel>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" placeholder="Country" name="country" ngModel>
            </div>
            <div class="form-group">
              <label for="noofPassengers">No. of Passengers</label>
              <input type="text" class="form-control" id="noofPassengers" placeholder="No. of Passengers" name="noofPassengers" ngModel>
            </div>-->
          <div *ngFor="let com of lstflights">
            <div class="take-data">
              <div class="form-group">
                <label for="flightnumber">Flight Number</label>
          
                <input type="text" class="form-control" id="flightnumber" name="flightnumber" [ngModel]="com.flightnumber"
                  readonly>
              </div>
              <div class="form-group">
                <label for="departurecity">Departure City</label>
                <input type="text" class="form-control" id="departurecity" placeholder="Departure City" name="departurecity"
                  [ngModel]="com.departurecity" readonly>
              </div>
              <div class="form-group">
                <label for="departuredate">Departure Date</label>
                <input type="text" class="form-control" id="departuredate" placeholder="Departure Date" name="departuredate"
                  [ngModel]="com.departuredate" readonly>
              </div>

              <div class="form-group">
                <label for="departuredate">Departure Time</label>
                <input type="text" class="form-control" placeholder="Departure Time" name="departureTime"
                  [ngModel]="com.departureTime" readonly>
              </div>

              <div class="form-group">
                <label for="arrivalcity">Arrival City</label>
                <input type="text" class="form-control" id="arrivalcity" placeholder="Arrival City" name="arrivalcity"
                  [ngModel]="com.arrivalcity" readonly>
              </div>
              <div class="form-group">
                <label for="arrivalcity">Base Fare</label>
                <input type="text" class="form-control" id="amount" name="baseFare" [ngModel]="com.baseFare" readonly>
              </div>
              <div class="form-group">
                <label for="arrivalcity">Tax</label>
                <input type="text" class="form-control" id="amount" name="tax" [ngModel]="com.tax" readonly>
              </div>
              <div class="form-group">
                <label for="amount">Total Amount</label>
                <input type="text" class="form-control" id="amount" placeholder="Amount" name="totalAmount"
                  [ngModel]="com.totalAmount" readonly>
              </div>
            </div>
          </div>
          <br>
          <h3 style="float:initial">Personal Information</h3>
          <div class="form-group">
            <label for="fullname">Name</label>
            <input type="text" class="form-control" id="fullname" placeholder="Full Name" name="fullname" ngModel>
          </div>
          <div class="form-group"> 
            <label for="emailid">Email Address</label>
            <input type="text" class="form-control" id="emailid" placeholder="eg. abc@xyz.com" name="emailid" ngModel>
          </div>
          <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <input type="text" class="form-control" id="phonenumber" placeholder="eg. Phone Number" name="phonenumber" ngModel>
          </div>

          <br>

          <select class="drop-down">
            <option value="" disabled="disabled" selected="selected">Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Others</option>
        </select>

        <br>
        <br>

          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Current City" name="city" ngModel>
          </div>
          <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" placeholder="Current State" name="state" ngModel>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" placeholder="Country" name="country" ngModel>
            </div>
            <div class="form-group">
              <label for="noofPassengers">No. of Passengers</label>
              <input type="text" class="form-control" id="noofPassengers" placeholder="No. of Passengers" name="noofPassengers" ngModel>
            </div>
            <br>
            <h3 style="float:initial">Payment Information</h3>
            <div class="form-group">
              <label for="creditcard">Enter Your Card No. </label>
              <input type="password" class="form-control" placeholder="xxx-xxxx-xxxx-xxxx">
            </div>

            <div class="form-group">
              <label for="name">Enter Card Holder Name</label>
              <input type="text" class="form-control"  placeholder="Card Holder Name">
            </div>

            <div class="row">
              <div class="col">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" placeholder="123">
              </div>
              <div class="col">
                <label for="date">Expiry Date</label>
                <input type="text" class="form-control" placeholder="MM/DD">
              </div>
            </div>
            <br>

          <button type="submit" class="btn btn-primary">CONFIRM BOOKING</button>
      </div>
  </div>
  <br>
  <br>
</form>


