
<style>

.table-sm{
  width: 80%;
  position: relative;
  border: 4px solid rgb(164, 111, 250);
  margin-left: auto;
  margin-right: auto;
}
th{
  border:2px solid black;
}

td{
  border:2px solid black;
}

</style>


<br>

<div *ngIf="lstbookingdetails">
    <table class="table table-sm table-light">
      <tr class="active-row">
        <th><b>PNR Number</b></th>
        <th><b>Flight Number</b></th>
        <th><b>Passenger Name</b></th>
        <th><b>Departure City</b></th>
        <th><b>Departure Date</b></th>
        <th><b>Arrival City</b></th>
        <th><b>No. of Passengers</b></th>
        <th><b>Amount Paid</b></th>
      </tr>
      <tr class="active-row" *ngFor="let com of lstbookingdetails">
        <td>{{com.passengerpnr}}</td>
        <td>{{com.passengerflightnumber}}</td>
        <td>{{com.passengername}}</td>
        <td>{{com.passengerdeparturecity}}</td>
        <td>{{com.passengerdeparturedate | date}}</td>
        <td>{{com.passengerarrivalcity}}</td>
        <td>{{com.passengernoofPassengers}}</td>
        <td>{{com.passengeramount|currency:"INR":true}}</td>
      </tr>
    </table>
  </div>
